@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}

@media (min-width: 550px) {
    .small-container {
        display: none;
    }
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 90vh;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    display: block;
    z-index: 1;
}

#container-1 {
    width: 100%;
    height: 95vh;
    margin: 0;
    overflow: hidden;

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}