<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="120">
  <title>התראות משחקים בסמי עופר 🏟️</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
  <link href="assets/templates/style.css" rel="stylesheet" type="text/css">
  <script>
    const currentDate = new Date();
    const day = currentDate.getDate();
    const month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
    const year = currentDate.getFullYear();
    const todayDate = `${year}-${month}-${day}`;
  </script>
</head>
<body>
  {% for key, value in games.items() %}
  {% set scraped_date_time, league, home_team, home_team_en, home_team_url, game_hour, guest_team, guest_team_en, guest_team_url, game_time_delta, road_block_time, specs_word, specs_number, poll, notes, custom_sepcs_number, custom_road_block_time = value %}
  <div id="container-{{loop.index}}" class="container">
    <div class="metadata">
      <div class="metadata-item">⚪ משחק ⚽ היום בשעה: {{ game_hour }} ⚪</div>
    </div>
    <div class="team">
      <div class="team-logo" style="background-image: url('assets/teams/{{ home_team_en }}.png');"></div>
      <div class="team-name">{{ home_team }}</div>
    </div>
    <div class="team">
      <div class="team-logo" style="background-image: url('assets/teams/{{ guest_team_en }}.png');"></div>
      <div class="team-name">{{ guest_team }}</div>
    </div>
    <div class="metadata">
      <div class="metadata-item">צפי חסימת כבישים: {{ custom_road_block_time }}</div>
      <div class="metadata-item">צפי אוהדים משוער: {{ specs_word }} {{ custom_sepcs_number | replace("\\", "") }}</div>
      {% if notes %}
      <div class="metadata-item">📣: {{ notes }}</div>
      {% endif %}
      <div class="metadata-item"><img src="assets/images/qrcode.png" alt="QR Code" style="max-width: 100px; margin-top: 1rem;"></div>
      <div><img src="https://img.shields.io/endpoint?color=neon&style=plastic&url=https%3A%2F%2Ftg.sumanjay.workers.dev%2Fsammy_ofer_notification_channel&label=Sammy%20Ofer%20Notification%20Channel"></div>
    </div>
  </div>
  <script>
    const gameDate_{{loop.index}} = "{{ scraped_date_time.strftime('%Y-%m-%d') }}";
    if (todayDate !== gameDate_{{loop.index}}) {
      document.getElementById('container-{{loop.index}}').style.display = 'none';
    }
  </script>
  {% endfor %}

  <div id="default-container" class="container" style="display: none;">
    <div class="metadata">
      <div class="metadata-item">⚪ המשחק ⚽ הבא: {{ games['game_1'][0].strftime('%A, %d/%m/%Y') }} ⚪</div>
      <div class="metadata-item"><img src="assets/images/qrcode.png" alt="QR Code" style="max-width: 100px; margin-top: 1rem;"></div>
      <img src="https://img.shields.io/endpoint?color=neon&style=plastic&url=https%3A%2F%2Ftg.sumanjay.workers.dev%2Fsammy_ofer_notification_channel&label=Sammy%20Ofer%20Notification%20Channel">
    </div>
  </div>
  
  <script>    
    let allContainersHidden = true;
    for (let i = 1; i <= {{ games.items() |length }}; i++) {
      if (document.getElementById(`container-${i}`).style.display !== 'none') {
        allContainersHidden = false;
        break;
      }
    }
    
    if (allContainersHidden) {
      document.getElementById('default-container').style.display = 'block';
    }
  </script>
</body>
</html>