:root {
    --font-size-base: 16px;
    --font-size-team-name: 2rem;
    --font-size-metadata: 1.2rem;
    --logo-size: 80px;
    --padding-base: 1.5rem;
    --border-radius: 8px;
    --color-primary: #2b3754;
    /* Dark blue */
    --color-secondary: #2b3754;
    /* Dark brown */
    --color-background: rgba(255, 255, 255, 0.5);
    /* Dimmed white */
    --color-team-bg: #fff;
    --color-text: #333;
    caret-color: transparent;
}

@media (max-height: 900px) {
    :root {
        --font-size-base: 14px;
        --font-size-team-name: 1.8rem;
        --font-size-metadata: 1rem;
        --logo-size: 60px;
        --padding-base: 1rem;
    }
}

body {
    font-family: 'Alef', 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/sammy-ofer-stadium.jpg');
    background-size: cover;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-base);
    direction: rtl;
    /* Set the direction to right-to-left */
}

.container {
    width: 100%;
    max-width: 800px;
    padding: var(--padding-base);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-dumb {
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-team-bg);
    padding: var(--padding-base);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: var(--padding-base);
}

.team-logo {
    width: var(--logo-size);
    height: var(--logo-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: calc(var(--padding-base) / 2);
}

.team-name {
    font-size: var(--font-size-team-name);
    font-weight: bold;
    margin-bottom: calc(var(--padding-base) / 2);
    color: var(--color-primary);
}

.metadata {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-metadata);
    width: 100%;
}

.metadata-item {
    background-color: var(--color-team-bg);
    padding: calc(var(--padding-base) / 2) var(--padding-base);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--padding-base);
    width: 100%;
    text-align: center;
    color: var(--color-secondary);
}

.qr-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    max-width: 300px;
    z-index: -1;
}