<!doctype html>
<html dir="rtl" lang="he">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .block_container {
            text-align: right;
        }

        .block1 {
            display: inline-flex;
        }

        .block2 {
            width: 86px;
        }
    </style>
</head>

<body>
    {% if myval['action'] == 'delete' %}
    <h1>{{ myval['action'] | upper}}</h1>
    <div>
        <p><input type="submit" value="{{ myval['action'] | upper}}" /></p>
    </div>
    {% else %}
    <h1>{{ myval['action'] | upper}}</h1>
    <form action="/update" method="post" id="updateForm">
        <div class="block_container">
            <label class="block1 block2" for="home_team">קבוצת בית:</label>
            <input type="text" id="home_team" name="home_team" value="{{ myval['home_team'] }}" readonly>
        </div>
        <div class="block_container">
            <label class="block1 block2" for="guest_team">קבוצת חוץ:</label>
            <input type="text" id="guest_team" name="guest_team" value="{{ myval['guest_team'] }}" readonly>
        </div>
        <div class="block_container">
            <label class="block1 block2" for="specs_number">מס. אוהדים:</label>
            <input type="number" name="specs_number" value="{{ myval['specs_number'] }}" id="specNumber", max="30000">
        </div>
        <div class="block_container">
            <label class="block1 block2" for="specs_word">כמות:</label>
            <select id="specWord" name="specs_word">
                <option {% if myval['specs_word'] == "ללא" %}selected="selected" {% endif %} value="ללא">ללא</option>
                <option {% if myval['specs_word'] == "קטן" %}selected="selected" {% endif %} value="קטן">קטן</option>
                <option {% if myval['specs_word'] == "בינוני" %}selected="selected" {% endif %} value="בינוני">בינוני</option>
                <option {% if myval['specs_word'] == "גדול" %}selected="selected" {% endif %} value="גדול">גדול</option>
                <option {% if myval['specs_word'] == "גדול מאוד" %}selected="selected" {% endif %} value="גדול מאוד">גדול מאוד</option>
            </select>
        </div>
        <div class="block_container">
            <label class="block1 block2" for="poll">סקר:</label>
            <div class="block1"><input type="checkbox" name="poll" {% if myval['poll'] == 'on' %}checked=true{% endif %}></div>
        </div>
        <div class="block_container">
            <label class="block1 block2" for="notes">הערות:</label>
            <textarea id="notes" name="notes" rows="2">{{ myval['notes'] }}</textarea>
        </div>
        <p><input type="submit" value="{{ myval['action'] | upper}}" /></p>
    </form>
    <p>
        <div id="result_update"></div>
    </p>
    <script>
        $("#updateForm").submit(function (event) {
            event.preventDefault(); // Stop form from submitting normally
            var $form = $(this),
                form_data = $form.serialize(), // Get form values
                url = $form.attr("action");
            $.post(url, (form_data))
                .done(function (data) {
                    $("#result_update").empty().append(data);
                });
        });
    </script>
    {% endif %}
</body>
</html>
